<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>fiancée Ticks</title>
	<link rel="stylesheet" href="/css/style.css">
	
</head>
    <body>
		<ul>
			<% if(client){ %>
				<li><a href="/">HOME</a></li>
				<li><a href="/servicestypes/types">fiancée Ticks List</a></li>
				<li><a href="/clients/profile">CLIENT PROFILE</a></li>
				<li><a href="/clients/logout">CLIENT LOGOUT</a></li>
				
				<% } else { %> 
					<li><a href="/">HOME</a></li>
					<li><a href="/clients/About">ABOUT</a></li>
					<li><a href="/clients/Blog">BLOG</a></li>
				   
					<li><a href="/servicestypes/types">fiancée Ticks List</a></li>
					
					<li><a href="/clients/Contact">CONTACTS</a></li>

					<li><a href="/clients/new">CLIENT SIGN UP</a></li>
					<li><a href="/clients/login">CLIENT LOGIN</a></li>
					<% } %>
				
				</ul>
				<h1> fiancée Ticks</h1>
		  <%- body %>
		
	
</body>
</html>