

ul {
    /* border: 2px solid red; */
    background-color: #E9ceb9;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
ul li {
    font-size: 16px;
    text-decoration: none;
    list-style-type:none;
    display: inline;
    color: #D0CCD3
}
.every-headings {

    color: #D0CCD3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.button {background-color: #d4acf1;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 12px;
    
    color:pink;

} 