
<h1>Bryds Services</h1>



<form method="GET" action="/servicestypes/flowers"><button>FLOWERS</button></form>
<form method="GET" action="/servicestypes/give"><button>GIVEAWAYS</button></form>
<form method="GET" action="/servicestypes/makeup"><button>MAKEUP ARTISTS</button></form>
<form method="GET" action="/servicestypes/hairstylist"><button>HAIRSTYLISTS</button></form>
<form method="GET" action="/servicestypes/spas"><button>HOTELS & SPAS</button></form>
<form method="GET" action="/servicestypes/gowns"><button>GOWNS DESIGNERS</button></form>



<a href="/">&larr; BACK HOME</a>