
<h1>Bryds Services</h1>



<ul>
 <button> <a href="/flowers  ">FLOWERS SHOPS</a></button> 
    <button> <a href="/give  ">GIVEAWAYS</a></button> 
    <button> <a href="/makeup  ">MAKEUP ARTISTS</a></button>
    <button> <a href="/hairstylist  ">HAIR STYLISTS</a></button>
    <button> <a href="/spas  ">HOTELS AND SPAS</a></button> 
    <button> <a href="/gowns  ">GOWNS DESIGNERS</a></button> 

</ul>

