

<h1>Hello <%= client.name%></h1>



<h2>This is Your Reservation Lists:</h2>
<% clientReservations.forEach(p => { %>

    <a class="every-headings" href="/profile/<%= p.id %>">
    <h3><%= p.service.name %></h3>
    </a>
    
    <form method="POST" action="/servicestypes/<%= p.id %>?_method=DELETE">
        <button class="every-headings" type="submit">DELETE</button>
    </form>
    
    <% })  %>

    <a href="/servicestypes/types">&larr; BACK BRYDS TICKS</a>