

<div class="about-section">
    <h1>About Us</h1>
    <p>Specializes in creating elegant events that reflect each couple’s personality,style, and overall vision.</p>
    <p>  We go the extra mile to ensure that every detail is covered, so our couples can enjoy their day to the fullest extent. We approach every wedding with the same level of sincerity, creativity, and professionalism no matter the size or style.</p>
  </div>



<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #e9ceb9;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #c9ba9b;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #c7d6db;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



</style>